@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Popins, sans-serif';
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #3658e0;

  #quote-box {
    width: 605px;
    background: #fff;
    border-radius: 15px;
    padding: 30px 30px 25px;

    header {
      font-size: 35px;
      font-weight: 600;
      text-align: center;
    }

    .content {
      margin: 35px 0;

      .quote-area {
        display: flex;
        justify-content: center;

        i {
          font-size: 15px;
        }
        i:first-child {
          margin: 3px 10px 0 0;
        }
        i:last-child {
          margin: 0 0 3px 10px;
        }
        .quote {
          font-size: 22px;
          text-align: center;
          word-break: break-all;
        }
      }

      #author {
        display: flex;
        font-size: 18px;
        font-style: italic;
        margin-top: 20px;
        justify-content: flex-end;

        span:first-child {
          margin: -7px 5px 0 0;
          font-family: monospace;
        }
      }
    }

    .buttons {
      border-top: 1px solid #ccc;

      .features {
        display: flex;
        align-items: center;
        margin-top: 20px;
        justify-content: space-between;

        ul {
          display: flex;

          a {
            text-decoration: none;
          }

          li {
            list-style: none;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #3658e0;
            border: 2px solid #3658e0;
            transition: all 0.3s ease;
          }
        }

        li:hover {
          color: #fff;
          background: #3658e0;
        }
        button {
          border: none;
          outline: none;
          color: #fff;
          cursor: pointer;
          font-style: 16px;
          padding: 12px 22px;
          border-radius: 30px;
          background: #3658e0;
        }
      }
    }
  }
}
